{% extends 'zvezdodinka/sablon.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

 <div class="features"> 
    <h1>{{title}}</h1>
    <h3>Хризантема, Астра</h3>
    <p>Продаем цветы крупноцветковой “хризантемы, астры”.

        Так же мелкоцветковую разных расцветок и размеров.
        
        Корни крупноцветковой хризантемы (осенью) октябрь-ноябрь.
        
        Черенки крупноцветковой хризантемы (весной) май-июнь
        </p>
        {% for i,k in obj.items %}

        <div>{{i}}</div>
        {% endfor %}
</div>
{% endblock %}